{% load static %}
{% load motorcycle_tags %}

<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>

</head>
<body>
{% block menu %}
		<div>
			<ul>
			<li ><a href="{% url 'home' %}"><div ></div></a></li>
{% for m in menu %}
	<li><a href="{% url m.url%}">{{m.title}}</a></li>
{% endfor %}

{% endblock menu %}


<table class="table-content" border=0 cellpadding="0" cellspacing="0">
<tr>
<!-- Sidebar слева -->
	<td valign="top" class="left-chapters">
	<ul id="leftchapters">
		{% if kind_selected == 0 %}
		<li class="selected">Все категории</li>
		{% else %}
		<li><a href="{% url 'home' %}">Все категории</a></li>
		{% endif %}


	</ul>
</td>
<!-- Конец Sidebar'а -->
<td >
	<!-- Хлебные крошки -->
	{% block breadcrumbs %}
	{% endblock %}

<!-- Блок контента -->
	<div>
{% block content %}
{% endblock %}
	</div>
<!-- Конец блока контента -->

{% block navigation %}
{% endblock %}
