{% load static %}
{% load motorcycle_tags %}

<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>

</head>
<body>



{% show_top_menu %}



<!-- Sidebar слева -->
    <ul>
		<li><a href="{% url 'home' %}">Все классы</a></li>
		{% show_kind %}

		<li><a href="{% url 'home' %}">Все типы двигателя</a></li>
		{% show_all_types %}

	</ul>
<td >
	<!-- Хлебные крошки -->
	{% block breadcrumbs %}
	{% endblock %}

<!-- Блок контента -->
	<div>
{% block content %}
{% endblock %}
	</div>
<!-- Конец блока контента -->

{% block navigation %}
{% endblock %}
