{% extends 'base.html' %}



{% block content %}

<ul class="list-articles">
	{% for p in publications %}
			<li><div class="article-panel">
	<p class="first">Класс: {{p.kind.name}} </p>

    <li>Тип двигателя:</li>
    <li>{{p.type}}</a></li>

    </div>
{% if p.photo %}
		<p><img class="img-article-left thumb" src="{{ p.photo.url }}" width="300" height="200"></p>
{% endif %}

				<h2>{{p.brand}} {{ p.bike_model }}</h2>
    {% autoescape off %}
	{{p.description|linebreaks|truncatewords:40}}
    {% endautoescape %}
			<div class="clear"></div>
			<p class="link-read-post"><a href="{{ p.get_absolute_url }}">Читать пост</a></p>
			</li>
	{% endfor %}
</ul>
{% endblock %}


