{% extends 'base.html' %}


{% block content %}
<h1>{{publication.brand}} {{publication.bike_model}}</h1>

{% if publication.photo %}
<p><img class="img-article-left" src="{{ publication.photo.url }}" width="900" height="600"></p>
{% endif %}
{{publication.description|linebreaks}}
{% if user.is_authenticated %}
{% csrf_token %}
    <form action="" method="post">
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
    <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <p><button type="submit">Отправить</button></p>
</form>
{% endif %}
{% endblock %}
