{% extends 'base.html' %}

{% block breadcrumbs %}



<ul>
    <li>Тип двигателя:</li>
    <li>{{publication.type}}</a></li>
</ul>

{% endblock %}

{% block content %}
<h1>{{publication.brand}} {{publication.bike_model}}</h1>

{% if publication.photo %}
<p><img class="img-article-left" src="{{ publication.photo.url }}" width="900" height="600"></p>
{% endif %}
{{publication.description|linebreaks}}
{% if user.is_authenticated %}
    <form action="" method="post">
    {% csrf_token %}
        {% if publication.is_fav %}
        <p><button type="submit">Удалить из избранного</button></p>
        {% else %}
        <p><button type="submit">Добавить в избранное</button></p>
        {% endif %}
</form>
{% endif %}

{% if perms.motorcycles.change_motorcycles %}
<p><a href="{% url 'edit' publication.slug %}">Редактировать</a></p>
{% endif %}
{% endblock %}
